body {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    background-color: #eeeeee;
}

header {
    margin-top: 30vh;
    margin-bottom: 4rem;
}

footer {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

ul {
    list-style: none;
    padding: 0px;
}
